llm:
  type: openai
  models:
    openrouter: Null
    openai: "http://127.0.0.1:8080/v1/"
    anthropic: Null
  api_keys:
    openrouter: ""
    openai: ""
    anthropic: ""
  temperature: 0.7

benchmark:
  checkpoint: "checkpoints"
  verbose: true
  output_pattern: "results/{dataset_name}_{model}.json"

